.signUp-form {
    width: 500px;
    height: 260px;
    background-color:whitesmoke;
    border: rgb(34, 82, 30);
    border-style: solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 60px;
  opacity: 0.8;
}

.form-group {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom:0px;
    border: rgb(7, 36, 7); 
    margin-bottom:10px;
}

.form-control {
    border-color: rgb(7, 104, 7);  
}
.form-control:focus {
    color: #272b2e;
    background-color: rgb(238, 237, 237);
    border-color: rgb(7, 104, 7);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(3, 110, 17, 0.25);
}

.signup-heading {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    /* font-style: oblique;
    font-weight: bold; */
    padding: 10px;
}

#signup {
    margin-left:220px;
    background-color: rgb(54, 131, 54);
    color:white;
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: 'Fredericka the Great', cursive;
}

.background-image {
    background-image: url("../../images/leaves-background.jpeg");
    background-size: cover;
    height:100%;
}