.signIn-form {
    width: 700px;
    height: 400px;
    background-color: whitesmoke;
    border: rgb(34, 82, 30);
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 60px;
    opacity: 0.9;
}

.form-group {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom:0px;
    border: rgb(7, 36, 7);
    margin-bottom:10px;

}
.form-control {
    border-color: rgb(7, 104, 7);
}
.form-control:focus {
    color: #272b2e;
    background-color: rgb(238, 237, 237);
    border-color: rgb(7, 104, 7);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(3, 110, 17, 0.25);
}

.signin-heading {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    font-size: 42px;
    padding: 35px 10px 10px 10px;
}

#signin {
    margin-left: 38%;
    background-color: rgb(54, 131, 54);
    color:white;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Fredericka the Great', cursive;
}

.signInPage {
    background-image: url("../../images/treeline.jpeg");
    background-color: rgb(238, 237, 237);
    background-size: cover;
    width: 100%;
}
