
img {
  height: 200px;
  z-index: 999;
}

.cropper {
    margin-top: 3%;
}

.savedLeafs {
    border: solid 3px black;
    box-shadow: 5px 10px gray;
    width: 80%;
    margin-left: 10%;
    background-color: #f0e0be;
    border-radius: 8px;
}

.profilePage {
    background-color: #b5f0c0;
}

.garland {
    height: 100px;
    position: absolute;
    left: -70px;
}

.directions {
    margin-top: 125px;
    width: 80%;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 24px;
    line-height: 2;
}

#logout {
    margin:45%;
    background-color: rgb(54, 131, 54);
    color:white;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: 'Love Ya Like A Sister', cursive;
    padding: 10px;
}

.collectionTitle {
    background-color: rgba(73, 71, 71, 0.5);
    font-size: 36px;
    text-align: center;
    width: 75%;
    margin-left: 12%;
    color: white;
    font-family: 'Cabin Sketch', cursive;
}

#cropped {
    border-top: solid 25px black;
    border-bottom: solid 25px black;
    border-left: solid 390px black;
    border-right: solid 390px black;
}

#loader {
    color: black;
    background: #fff; 
    padding: 10px;
    position: fixed;
    top: 35%;
    left: 35%;
    z-index: 1000;
    margin-right: -25%;
    margin-bottom: -25%;
    display: none;
}

#loaderBackground {
    background: black;
    z-index: 999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    display: none;
}
