.photo {
    width: 350px;
    height: 425px;
    background-image: url("../../images/leaf-polaroid.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10%;
    font-family: 'Londrina Sketch', cursive;
    font-size: 24px;
    /* border: solid 3px darkgray; */
    display: inline-block;


}

.form-group label {
    margin-top: 90px;
    margin-left: 40px;
    font-size: 32px;
}

.form-group input {
    font-size: 28px;
    padding-top: 15px; 
}